<div class="page-wrapper">
  <header class="site-header header-one">
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
      <div class="container clearfix">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="logo-box clearfix">
          <a class="navbar-brand" href="home" routerLink="home">
            <img
              src="../../assets/images/resources/logo.png"
              class="main-logo"
              alt="Awesome Image"
            />
            <img
              src="../../assets/images/resources/logo.png"
              class="stick-logo"
              alt="Awesome Image"
            />
          </a>
          <button class="menu-toggler" data-target=".main-navigation">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <!-- /.logo-box -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="main-navigation">
          <ul class="navigation-box">
            <li>
              <a href="home" routerLink="/home" routerLinkActive="currents"
                >Home</a
              >
            </li>
            <li class="submenu current">
              <a href="about" routerLink="/about">About Us</a>
            </li>
            <li><a href="services" routerLink="/services">Services</a></li>
            <li><a href="gallery" routerLink="/gallery">Gallery</a></li>
            <li class="">
              <a href="contact" routerLink="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="right-side-box">
          <a href="tel:09-432-8139" class="header-one__cta">
            <span class="header-one__cta-icon">
              <i class="dentallox-icon-call-answer"></i>
            </span>
            <span class="header-one__cta-content">
              <span class="header-one__cta-text">Call Us for query:</span>
              <span class="header-one__cta-number">09-432-8139</span>
            </span>
          </a>
        </div>
        <!-- /.right-side-box -->
      </div>
      <!-- /.container -->
    </nav>
  </header>
  <section class="inner-banner">
    <div class="container">
      <h2 class="inner-banner__title">Deborah Dixon</h2>
      <!-- /.inner-banner__title -->
      <ul class="thm-breadcrumb">
        <li class="thm-breadcrumb__item">
          <a class="thm-breadcrumb__link" href="index.html">Home</a>
        </li>
        <li class="thm-breadcrumb__item current">
          <a class="thm-breadcrumb__link" href="about.html">Meet the Team</a>
        </li>
      </ul>
      <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.inner-banner -->
  <section class="doctor-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="doctor-two__image">
            <img
              src="../../../assets/images/resources/Deborah-Dixon.jpg"
              alt="Awesome Image"
            />
          </div>
          <!-- /.doctor-two__image -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="doctor-two__content">
            <h2 class="doctor-two__title">Deborah Dixon</h2>
            <!-- /.doctor-two__title -->
            <p class="doctor-two__tag-line"><b>Practice Manager</b></p>
            <!-- /.doctor-two__tag-line -->
            <p class="doctor-two__text">
              Deborah has been with this practice for 20 years. She strives to
              make sure that everyone is treated to a warm welcoming relaxed
              atmosphere that makes even the nerviest patient feel at ease – her
              sense of humour helps too. “No one likes going to the dentist, so
              we try to make everyone feel relaxed and assure them that they are
              in good hands” Deborah is not only just the Practice Manager, she
              is called upon to assistant the dentist if one of our staff team
              is not available.
            </p>
            <!-- /.doctor-two__text -->

            <p class="doctor-two__text">
              In her spare time Deborah is an Equestrian Rider with over 40
              years’ experience. She has competed successful at top level
              equestrian events which includes Horse of the Year. She is also a
              qualified Royal Agricultural Society Equestrian Judge.
            </p>
            <!-- /.doctor-two__text -->
          </div>
          <!-- /.doctor-two__content -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.doctor-two -->
</div>
