<div class="page-wrapper">
  <header class="site-header header-one">
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
      <div class="container clearfix">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="logo-box clearfix">
          <a class="navbar-brand" href="home" routerLink="home">
            <img
              src="../../assets/images/resources/logo.png"
              class="main-logo"
              alt="Awesome Image"
            />
            <img
              src="../../assets/images/resources/logo.png"
              class="stick-logo"
              alt="Awesome Image"
            />
          </a>
          <button class="menu-toggler" data-target=".main-navigation">
            <span class="fa fa-bars"></span>
          </button>
        </div>
        <!-- /.logo-box -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="main-navigation">
          <ul class="navigation-box">
            <li class="current">
              <a href="home" routerLink="/home" routerLinkActive="currents"
                >Home</a
              >
            </li>
            <li class="submenu">
              <a href="about" routerLink="/about">About Us</a>
            </li>
            <li><a href="services" routerLink="/services">Services</a></li>
            <li><a href="gallery" routerLink="/gallery">Gallery</a></li>
            <li class="">
              <a href="contact" routerLink="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="right-side-box">
          <a href="tel:09-432-8139" class="header-one__cta">
            <span class="header-one__cta-icon">
              <i class="dentallox-icon-call-answer"></i>
            </span>
            <span class="header-one__cta-content">
              <span class="header-one__cta-text">Call Us for query:</span>
              <span class="header-one__cta-number">09-432-8139</span>
            </span>
          </a>
        </div>
        <!-- /.right-side-box -->
      </div>
      <!-- /.container -->
    </nav>
  </header>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/slider/new-slider-1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../assets/images/slider/new-slider-2.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <section class="cta-two">
    <div class="container">
      <h2 class="cta-two__title" id="dental">
        Have Dental Problem : Call us at
        <a href="tel:094328139" class="cta-two__highlight">09-432-8139</a> or
        make an
        <a
          href="/book"
          routerLink="/book"
          class="cta-two__highlight cta-two__link"
          >Appointment</a
        >
      </h2>
      <!-- /.cta-two__title -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.cta-two -->
  <section class="service-two service-two__home-four">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-10">
          <div class="block-title text-left">
            <h2 class="block-title__title">Our Service</h2>
            <!-- /.block-title__title -->
            <p class="block-title__text">
              Gentle Dental is a modern practice situated in Ruakaka. We focus
              on technology and techniques that maximize patient convenience,
              comfort and satisfaction. We are committed to providing efficient
              and cost effective dental care to all of our patients.
            </p>
            <!-- /.block-title__text -->
          </div>
          <!-- /.block-title -->
        </div>
        <!-- /.col-lg-9 -->
        <div class="col-lg-2 justify-content-end">
          <div class="service-two__carousel-block-btn">
            <a href="#" class="service-two__carousel-btn-left"
              ><i class="fa fa-angle-left"></i
            ></a>
            <a href="#" class="service-two__carousel-btn-right"
              ><i class="fa fa-angle-right"></i
            ></a>
          </div>
          <!-- /.service-two__carousel-btn-block -->
        </div>
        <!-- /.col-lg-3 -->
      </div>
      <!-- /.row -->
      <div class="service-two__carousel owl-theme owl-carousel">
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img
                src="../../assets/images/services/dentures.jpg"
                alt="Awesome Image"
              />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="dentures.html">Dentures</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Dentures are prosthetic devices that are moulded...
              </p>
              <!-- /.service-two__text -->
              <a href="dentures.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img
                src="../../assets/images/services/root-1.jpg"
                alt="Awesome Image"
              />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="root-canal.html">Root Canal</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Root canal treatment is required when nerve of...
              </p>
              <!-- /.service-two__text -->
              <a href="root-canal.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img
                src="../../assets/images/services/Extraction.jpg"
                alt="Awesome Image"
              />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="extraction.html">Extraction</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Extractions are often performed when a tooth...
              </p>
              <!-- /.service-two__text -->
              <a href="extraction.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->

        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img src="../../assets/images/services/Veneer-1.jpg" alt="Awesome Image" />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="veneers.html">Veneers</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Veneers are thin pieces of porcelain or composite...
              </p>
              <!-- /.service-two__text -->
              <a href="veneers.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img src="../../assets/images/services/zoom-1.jpg" alt="Awesome Image" />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="teeth-whitening.html">Teeth Whitening</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                We offer professional Teeth Whitening as it is a fast...
              </p>
              <!-- /.service-two__text -->
              <a href="teeth-whitening.html" class="service-two__link"
                >Read More</a
              >
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img src="../../assets/images/services/Hygienist-1.jpg" alt="Awesome Image" />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="hygienist.html">Hygienist</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Hygienists play a vital role in helping maintain...
              </p>
              <!-- /.service-two__text -->
              <a href="hygienist.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img src="../../assets/images/services/service-1-7.jpg" alt="Awesome Image" />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="examination.html">Examination</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                Regular dental examinations are an important...
              </p>
              <!-- /.service-two__text -->
              <a href="examination.html" class="service-two__link">Read More</a>
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->

        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img src="../../assets/images/services/composite-1.jpg" alt="Awesome Image" />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="composite-fillings.html">Composite Fillings</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                The composite fillings are the white fillings...
              </p>
              <!-- /.service-two__text -->
              <a href="composite-fillings.html" class="service-two__link"
                >Read More</a
              >
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
        <div class="item">
          <div class="service-two__single">
            <div class="service-two__image">
              <img
                src="../../assets/images/services/Crowns-Bridges-1.jpg"
                alt="Awesome Image"
              />
            </div>
            <!-- /.service-two__image -->
            <div class="service-two__content">
              <h3 class="service-two__title">
                <a href="crowns-and-bridges.html">Crowns & Bridges</a>
              </h3>
              <!-- /.service-two__title -->
              <p class="service-two__text">
                A crown is used to cover a damaged tooth...
              </p>
              <!-- /.service-two__text -->
              <a href="crowns-and-bridges.html" class="service-two__link"
                >Read More</a
              >
            </div>
            <!-- /.service-two__content -->
          </div>
          <!-- /.service-two__single -->
        </div>
        <!-- /.item -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.service-two -->
  <!-- /.service-two -->

  <section class="cta-one">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <p class="cta-one__tag-line">Making Your Smile Smarter</p>
          <!-- /.cta-one__tag-line -->
          <h3 class="cta-one__title">
            Caring to all of your dental <br />
            needs and desires
          </h3>
          <!-- /.cta-one__title -->
        </div>
        <!-- /.col-lg-7 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.cta-one -->
  <section class="about-one">
    <div class="container">
      <div class="about-one__image-block">
        <div class="about-one__image-one">
          <img
            src="../../assets/images/resources/about-1-1.jpg"
            alt="Awesome Image"
          />
        </div>
        <!-- /.about-one__image-one -->
        <div class="about-one__image-two">
          <img
            src="../../assets/images/resources/about-1-2.jpg"
            alt="Awesome Image"
          />
        </div>
        <!-- /.about-one__image-two -->
      </div>
      <!-- /.about-one__image-block -->
      <div class="row no-gutters">
        <div class="col-lg-6">
          <div class="about-one__content">
            <h3 class="about-one__title">
              Catering to all of your dental needs
            </h3>
            <!-- /.about-one__title -->
            <p class="about-one__text" style="text-align: justify">
              At Gentle Dental Ruakaka, we take pride in performing dentistry to
              the highest standards as we put a strong focus on safety and
              quality. Our team tailors every patient’s treatment
              recommendations to best suit their specific needs and budget. We
              are committed in updating the skills and knowledge of our team
              through regular training and education seminars, providing you
              with the best possible care.
            </p>
            <!-- /.about-one__text -->
            <p class="about-one__text" style="text-align: justify">
              With the help of our diagnostic screens, intra-oral cameras, and
              digital imaging systems, we have the ability to capture clear and
              detailed images of most problematic areas. This is a major step in
              helping identify and prevent issues that may not be visible
              through a basic examination. We take great care in providing
              preventative treatments and techniques to help reduce the
              potential for issues to reoccur. Through this, we can help provide
              knowledge of what you can do to help retain a beautiful smile.
            </p>
            <!-- /.about-one__text -->
          </div>
          <!-- /.about-one__content -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.about-one -->
  <section class="feature-one">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="feature-one__box">
            <h3 class="feature-one__box-title">Why Choose Us</h3>
            <p class="feature-one__box-text" style="text-align: justify">
              Are you looking for quality dental treatment with a relaxing and
              enjoyable environment? If your answer is yes, then why not come
              see us. We provide comprehensive dental care for children and
              adults, including patients of all ages who are anxious or have an
              underlying developmental or medical condition that may add
              complexity to the management of their oral health. Our services
              also include free WINZ quotes, ACC cover, and free dental
              treatment for adolescents aged between 13 and 17 years old.
            </p>
            <!-- /.feature-one__box-text -->
          </div>
          <!-- /.feature-one__box -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="feature-one__single">
                <div class="feature-one__icon">
                  <i class="dentallox-icon-scores"></i>
                </div>
                <!-- /.feature-one__icon -->
                <div class="feature-one__content">
                  <h3 class="feature-one__title">
                    <a href="#"
                      >Commitment to <br />
                      Excellence</a
                    >
                  </h3>
                  <!-- /.feature-one__title -->
                  <p class="feature-one__text">
                    We are committed in updating the skills and knowledge of our
                    team through regular training and education seminars.
                  </p>
                  <!-- /.feature-one__text -->
                </div>
                <!-- /.feature-one__content -->
              </div>
              <!-- /.feature-one__single -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="feature-one__single">
                <div class="feature-one__icon">
                  <i class="dentallox-icon-chair"></i>
                </div>
                <!-- /.feature-one__icon -->
                <div class="feature-one__content">
                  <h3 class="feature-one__title">
                    <a href="#"
                      >Cutting-Edge <br />
                      Technology</a
                    >
                  </h3>
                  <!-- /.feature-one__title -->
                  <p class="feature-one__text">
                    We provide the right treatment for even the most difficult
                    cases with state-of-the-art technology for effective care.
                  </p>
                  <!-- /.feature-one__text -->
                </div>
                <!-- /.feature-one__content -->
              </div>
              <!-- /.feature-one__single -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="feature-one__single">
                <div class="feature-one__icon">
                  <i class="dentallox-icon-appointment"></i>
                </div>
                <!-- /.feature-one__icon -->
                <div class="feature-one__content">
                  <h3 class="feature-one__title">
                    <a href="#"
                      >Focus on <br />
                      Customer Care</a
                    >
                  </h3>
                  <!-- /.feature-one__title -->
                  <p class="feature-one__text">
                    We ensure that you are comfortable during your time in our
                    clinic. You can choose to watch TV shows or just relax.
                  </p>
                  <!-- /.feature-one__text -->
                </div>
                <!-- /.feature-one__content -->
              </div>
              <!-- /.feature-one__single -->
            </div>
            <!-- /.col-lg-6 -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="feature-one__single">
                <div class="feature-one__icon">
                  <i class="dentallox-icon-medical"></i>
                </div>
                <!-- /.feature-one__icon -->
                <div class="feature-one__content">
                  <h3 class="feature-one__title">
                    <a href="#"
                      >Individualized <br />
                      Treatment Plans</a
                    >
                  </h3>
                  <!-- /.feature-one__title -->
                  <p class="feature-one__text">
                    We tailor treatments for individuals with our advanced
                    diagnostic techniques performed to identify the issues
                  </p>
                  <!-- /.feature-one__text -->
                </div>
                <!-- /.feature-one__content -->
              </div>
              <!-- /.feature-one__single -->
            </div>
            <!-- /.col-lg-6 -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.feature-one -->

  <section class="testimonials-one">
    <div class="container">
      <div class="block-title text-center">
        <h2 class="block-title__title block-title__lite-color">
          What Our Clients Says
        </h2>
        <!-- /.block-title__title -->
        <div class="block-title__line block-title__lite-bg"></div>
        <!-- /.block-title__line -->
      </div>
      <!-- /.block-title -->

      <div
        id="testimonial4"
        class="
          carousel
          slide
          testimonial4_indicators testimonial4_control_button
          thumb_scroll_x
          swipe_x
        "
        data-ride="carousel"
        data-pause="hover"
        data-interval="5000"
        data-duration="2000"
      >
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="testimonial4_slide">
              <p>
                We highly recommend the team at Gentle Dental Ruakaka. We have
                been a client since our arrival in Ruakaka 8 years ago. The
                staff are all incredibly friendly, helpful and of course GENTLE.
                Like many others, I dread going to the dentist but Dr Robin Chen
                is so calming and makes the experience far less scary. At the
                end of any procedure he always explains what he has done and
                advises dental care for coming days. I had complete confidence
                when they extracted 4 teeth for my daughters braces and will
                soon be repeating the exercise with my son. Great team and
                fantastic to have a local service like this.
              </p>
              <h4>- Christine Moodie</h4>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonial4_slide">
              <p>
                What a team at Gentle Dental Robin Carla and Deb. Since my
                accident which mushed my teeth I have had wonderful professional
                caring service. Robin for giving me the best care and time in
                working through the recovery process. Carla for being a great
                assistant. Deb for being the fun loving person making each visit
                relaxing. I have recommended this practice to other people. Many
                thanks.
              </p>
              <h4>- Glenys Meiklejohn</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#testimonial4" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>
  <section class="appointment-one">
    <div class="container">
      <div class="inner-container">
        <div class="row">
          <div class="col-lg-5">
            <div class="appointment-one__content">
              <h3 class="appointment-one__title">
                Make an Appointment <br />
                Today !
              </h3>
              <!-- /.appointment-one__title -->
              <p class="appointment-one__text">
                Our clinic provides high-level dental services, <br />
                offers comprehensive solutions for the treat- <br />ment of any
                dental problems.
              </p>
              <!-- /.appointment-one__text -->
            </div>
            <!-- /.appointment-one__content -->
          </div>
          <!-- /.col-lg-6 -->
          <div class="col-lg-7">
            <form
              action="home-book.php"
              method="post"
              class="appointment-one__form"
            >
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="fname" placeholder="First Name" />
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                  <input type="text" name="lname" placeholder="Last Name" />
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                  <input type="text" name="phone" placeholder="Phone Number" />
                </div>
                <!-- /.col-md-6 -->
                <div class="col-md-6">
                  <input type="text" name="email" placeholder="Email" />
                </div>
                <!-- /.col-md-6 -->

                <div class="col-md-12">
                  <input type="text" name="message" placeholder="Comment" />
                </div>
                <!-- /.col-md-6 -->
                <div class="col-lg-12">
                  <button type="submit" class="appointment-one__form-btn">
                    Submit Now
                  </button>
                </div>
                <!-- /.col-lg-12 -->
              </div>
              <!-- /.row -->
            </form>
            <!-- /.appointment-one__form -->
          </div>
          <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.inner-container -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.appointment-one -->

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9144.559136017582!2d174.45123327904977!3d-35.87131399687437!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6cf8f1631d271991!2sGentle%20Dental%20Ruakaka!5e0!3m2!1sen!2sin!4v1600745474185!5m2!1sen!2sin"
    width="100%"
    height="450"
    frameborder="0"
    style="border: 0"
    allowfullscreen=""
    aria-hidden="false"
    tabindex="0"
  ></iframe>
</div>
<!-- /.page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"
  ><i class="fa fa-angle-up"></i
></a>
<!-- /.scroll-to-top -->
