<div class="page-wrapper">
  <section class="inner-banner">
    <div class="container">
      <h2 class="inner-banner__title">Luisa Antonio</h2>
      <!-- /.inner-banner__title -->
      <ul class="thm-breadcrumb">
        <li class="thm-breadcrumb__item">
          <a class="thm-breadcrumb__link" href="index.html">Home</a>
        </li>
        <li class="thm-breadcrumb__item current">
          <a class="thm-breadcrumb__link" href="about.html">Meet the Team</a>
        </li>
      </ul>
      <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.inner-banner -->
  <section class="doctor-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="doctor-two__image">
            <img src="../../../assets/images/resources/Luisa.jpg" alt="Awesome Image" />
          </div>
          <!-- /.doctor-two__image -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="doctor-two__content">
            <h2 class="doctor-two__title">Luisa Antonio</h2>
            <!-- /.doctor-two__title -->
            <p class="doctor-two__tag-line"><b>Hygienist</b></p>
            <!-- /.doctor-two__tag-line -->
            <p class="doctor-two__text">
              Luisa Antonio is a 2009 BSc Oral Health graduate with a dual scope
              of practice in dental therapy and dental hygiene. As a new
              graduate Luisa worked 3 days a week for the Waitemata DHB and 2
              days in a private practice to accomodate both her scopes of
              clinical work for 8 years. Luisa recently has in the past 4 years
              committed her work career to focusing on patients in private
              practises.
            </p>
            <br />
            <p class="doctor-two__text">
              She lives in Greenhithe North Shore, but has chosen to travel to
              Ruakaka for work on a Wednesday and Thursday. With over 10years of
              experience, Luisa believes in promoting basic oral hygiene care,
              providing educational information for patients with medically
              compromised conditions and early prevention and intervention in
              dentistry. She is passionate about providing treatment in the best
              and most comfortable way for her patients.
            </p>
            <!-- /.doctor-two__text -->
          </div>
          <!-- /.doctor-two__content -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.doctor-two -->
</div>
