<div class="page-wrapper">
  <section class="inner-banner">
    <div class="container">
      <h2 class="inner-banner__title">Lydia Potreous</h2>
      <!-- /.inner-banner__title -->
      <ul class="thm-breadcrumb">
        <li class="thm-breadcrumb__item">
          <a class="thm-breadcrumb__link" href="index.html">Home</a>
        </li>
        <li class="thm-breadcrumb__item current">
          <a class="thm-breadcrumb__link" href="about.html">Meet the Team</a>
        </li>
      </ul>
      <!-- /.thm-breadcrumb -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.inner-banner -->
  <section class="doctor-two">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="doctor-two__image">
            <img
              src="../../../assets/images/resources/Lydia-Potreous.jpg"
              alt="Awesome Image"
            />
          </div>
          <!-- /.doctor-two__image -->
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-8">
          <div class="doctor-two__content">
            <h2 class="doctor-two__title">Lydia Potreous</h2>
            <!-- /.doctor-two__title -->
            <p class="doctor-two__tag-line"><b>Dental Nurse</b></p>
            <!-- /.doctor-two__tag-line -->
            <p class="doctor-two__text">
              I am a friendly local who has lived in Ruakaka my whole life. I am
              a NZDA qualified dental assistant, and have 8+ years experience. I
              have a very kind and caring nature which suits my role as an
              assistant, to help provide a pleasant experience when you visit
              us.
            </p>
            <br />
            <p class="doctor-two__text">
              I live in Ruakaka with my husband, and three beautiful children.
              In my spare time, I enjoy spending time with my family, going to
              the beach, and keeping fit by working out and going for walks.
            </p>
            <!-- /.doctor-two__text -->
          </div>
          <!-- /.doctor-two__content -->
        </div>
        <!-- /.col-lg-8 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /.doctor-two -->
</div>
